{% extends 'layout.html' %}

{% block content %}
<h2>Doctor Login</h2>
<div class="jumbotron w-50">
{% if message %}
    <div class="alert alert-success" role="alert">
    Doctor signup successfully!
    </div>
{% endif %}
{% if err %}
    <div class="alert alert-danger" role="alert">
    Something went wrong!
    </div>
{% endif %}
{% if invalid %}
    <div class="alert alert-danger" role="alert">
    WRONG USERNAME OR PASSWORD!
    </div>
{% endif %}
{% if success %}
    <div class="alert alert-success" role="alert">
    The Summary of Patient saved successfully!
    </div>
{% endif %}
<form action="../doclogin/" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="test" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}