{% extends 'layout.html' %}

{% block content %}
<h2>Doctor Signup</h2>
<div class="jumbotron w-50">
{% if error %}
<div class="alert alert-danger" role="alert">
    Username already exists!
  </div>
{% endif %}
<form action="../docregister/" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}